<header id="header" style="background-color: #000076; height: 65px;" class="fixed-top " >

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="margin-left: 10px;">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <mat-menu  style="background-color:#000076;" #menu="matMenu">
    <button mat-menu-item  routerLinkActive="active" routerLink="/landing">
      <mat-icon>home</mat-icon>
      <span >Home</span>
    </button>

    <button mat-menu-item routerLinkActive="active" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span  > About</span>
    </button>

    <button mat-menu-item  routerLinkActive="active" routerLink="/services">
      <mat-icon>settings</mat-icon>
      <span>Services</span>
    </button>

    <button mat-menu-item  routerLinkActive="active" routerLink="/team">
      <mat-icon>group_add</mat-icon>
      <span>Team</span>
    </button>



  </mat-menu>
  <div class="container d-flex align-items-center" style="margin-top: -40px;">

    <h4 class="logo me-auto"></h4>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " routerLinkActive="active" routerLink="/landing">Home</a></li>
        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/about">About</a></li>
        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/services">Services</a></li>

        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/team">Team</a></li>

        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/contact">Contact</a></li>
        <li><a class="getstarted scrollto" routerLinkActive="active"  routerLink="/about">Get Started</a></li>
      </ul>

    </nav><!-- .navbar -->

  </div>
</header>

<router-outlet></router-outlet>
 <!-- ======= Footer ======= -->
 <footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>we send you our latest updates</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>BlueSpace Network</h3>
          <p>
            13527 mafutsanyane street <br>
            krugersdorp, 1754<br>
            South Africa<br><br>
            <strong>Phone:</strong> 072 987 9295<br>
            <strong>Email:</strong> info@bluespacenetwork.co.za <br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/landing">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/terms">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/privacy">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Mobile Application Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Logo and business card Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>lets connect and socialize</p>
          <div class="social-links mt-3">
            <a href=" https://twitter.com/BlueSpaceNetwo1" class="twitter"><i class="bi-twitter"></i></a>
            <a href="https://www.facebook.com/Blue-Space-Network-104626761690030" class="facebook"><i class="bi-facebook"></i></a>
            <a href="https://www.instagram.com/bluespacenetwork/" class="instagram"><i class="bi-instagram"></i></a>

            <a href="https://www.linkedin.com/company/blue-space-network/about/?viewAsMember=true" class="linkedin"><i class="bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>BlueSpace Network</span></strong>. All Rights Reserved
    </div>
    <div class="credits">


    </div>
  </div>
</footer><!-- End Footer -->
