<section id="services" class="services section-bg " style="margin-top: 40px;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <!-- <h3 style="border: 2px #000076 solid;">We offer best services money can buy</h3> -->

    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>

          <h4 >
            <i class="bi bi-laptop"></i>
            <a href="">Website design and development</a></h4>
          <ul>
            <li>
              <p>We develop best powerful website with latest technologies
                to give your clients the best user experience and maximum speed</p>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <i class="bi bi-phone"></i>
            <a href="">Mobile app design and development</a></h4>
   <p>A beautiful, simple-to-use website is essential for your clients</p>
          <p>We build best multiplatform mobile application that can run both on IOS and Android devices.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4>
            <i class="bi bi-credit-card-2-front"></i>
            <a href="">Logo and business cards design</a></h4>
          <p>We offer both mobile application and website maintenance
            to safeguard that your corporate is always up and running</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4> <i class="bi bi-gear"></i>
            <a href="">Maintenance</a></h4>
          <p>We offer both mobile application
            and website maintenance to safeguard that your corporate is always up and running</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
