<section id="team" class="team section-bg" style="margin-top: 40px;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">

      <h2>Team</h2>
      <p>Meet Our Team.</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
          <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Cecil Laka</h4>
            <span>Chief Executive Officer</span>
            <p>code is everything</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/selepe.tebogo/"><i class="bi-facebook"></i></a>
              <a href="https://www.instagram.com/mighty_c101/"><i class="bi-instagram"></i></a>
              <a href=""> <i class="bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
<!--

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
          <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Price Rakomana</h4>
            <span>Chief Operations Officer</span>
            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-lg-6">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
          <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Prince Rakomana</h4>
            <span>Chief Operations Officer</span>
            <p>code is everything</p>
            <div class="social">
              <a href=""><i class="bi-twitter"></i></a>
              <a href=""><i class="bi-facebook"></i></a>
              <a href=""><i class="bi-instagram"></i></a>
              <a href=""> <i class="bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</section><!-- End Team Section -->
